# downloaded files
node_modules
# built files
obj
**/bin/Debug
**/bin/Release
# user files
.vs
.idea
.suo
*.user
package-lock.json
# temp files
*.orig
.DS_Store
/demo*
title.txt
kubernetes-hands-on-workshop.sln
# secrets
.env
