<h2>Edit Framework</h2>
<div class="row">
  <div class="col-md-6">
    <form method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Name" value="{{name}}">
      </div>
      <input type="submit" value="Save" class="btn btn-default" />
    </form>
  </div>
</div>
